.container{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 20px auto;
}
.btn-container{
    display: flex;
    padding: 6px 8px 6px 0;
}
.btn-container a{
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
    color: #009a61;
}
#student-container{
    width:800px;
    border-collapse: collapse;
    border-top:1px solid #ccc;
}
#student-container tr:hover{
    background-color: #ccc;
}
#student-body-container>tr,#student-container-header{
    border-bottom: 1px solid #ccc;
}
